.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 616px;
	height: 100vh;
	transform: translateX(-616px);
	transition: transform 0.5s ease;
	background-color: #ffffff;
	border-right: 1px solid #000000;
	overflow: hidden;
	box-sizing: border-box;
	z-index: 1000;
}

.container_open {
	transform: translateX(0);
}

.form {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 50px 31px;
	box-sizing: border-box;
	overflow-y: auto;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}

.title {
	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 31px;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 32px;
	font-style: normal;
	color: var(--black, #000);
	margin-bottom: 50px;
}

.label {
	color: var(--black, #000);
	font-family: 'Open Sans';
	font-size: 12px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.formControl {
	margin-bottom: 50px;
}
